<!-- HEADER -->
<%- include('partials/header.ejs') -%>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-9">
            <h1>Which Witcher Character Are You?</h1>
            <p>Take our short quiz and find out!</p>
        </div>

        <!-- QUESTION-->

        <div class="col-8 border1 px-0">
            <div class=" border2  px-3">
                <h2>Question <%= question + 1 %></h2>

                <p><%= questions[question].question %></p>

                <form action="http://localhost:3000/quiz/<%= next_question %>" method="POST">
                    <div>
                        <input type="radio" name="answer" value="<%= questions[question].answer1Total %>">
                        <span><%= questions[question].answer1 %></span>
                    </div>

                    <div>
                        <input type="radio" name="answer" value="<%= questions[question].answer2Total %>">
                        <span><%= questions[question].answer2 %></span>
                    </div>

                    <div>
                        <input type="radio" name="answer" value="<%= questions[question].answer3Total %>">
                        <span><%= questions[question].answer3 %></span>
                    </div>

                    <div>
                        <input type="radio" name="answer" value="<%= questions[question].answer4Total %>">
                        <span><%= questions[question].answer4 %></span>
                    </div>

                    <div>
                        <input type="radio" name="answer" value="<%= questions[question].answer5Total %>">
                        <span><%= questions[question].answer5 %></span>
                    </div>

                    <br>
                    <input type="hidden" name="questionIndex" value="<%= question %>">
                    <input type="hidden" name="result" value="<%= total %>">
                    <% if (next_question === 0){ %>
                    <input type="submit" name="finish" value="Finish">
                    <% } else { %>
                    <input type="submit" name="next" value="Next">
                    <% }; %>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<%- include('partials/footer.ejs') -%>